<h1>Hello World</h1>
<!-- <p>See Me in views/static/index.html.erb</p>
<a href="/about">Click here to got to about page</a>
<a href="/signup">sign up page</a>
 -->

<form action="/urls" method="post">
	LONG URL:<br>
	<input type="text" name="long_url">
	<input type="submit" name="Submit"><br>
	<p style = "color:red"><%= @error %></p>
</form>

<% if @urls != nil %>
	<% @urls.each { |url| %>
 		<a href="<%=url.short_url%>">http://localhost:9393/<%= url.short_url %> (<%= url.long_url %>)</a> : <%=url.click_count %> clicks<br>
	<% } %>
<% end %>
